
{% extends "layout.html" %}
{% block body_class %}projects{% endblock %}
{% block content %}
<div class="container">
  <div class="row py-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-flask"></i> Cat vs Dog</h5>
          <p class="card-text">Is it a cat or dog?</p>
          <a class="btn btn-primary" href="/projects/1">View &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-flask"></i> Hotdog vs Not Hotdog</h5>
          <p class="card-text">Is it a hotdog or not hotdog?</p>
          <a class="btn btn-primary" href="/projects/1">View &raquo;</a>
        </div>
      </div>
   </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-flask"></i> Buy or Sell Bitcoin</h5>
          <p class="card-text">Bitcoin quant trading model</p>
          <a class="btn btn-primary" href="/projects/1">View &raquo;</a>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row py-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-flask"></i> Home Price Prediction</h5>
          <p class="card-text">What will a home cost?</p>
          <a class="btn btn-primary" href="/projects/1">View &raquo;</a>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

