
{% extends "layout.html" %}
{% block body_class %}experiments{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="run">
        <div class="run-id col-1">1</div>
        <a class="btn btn-primary mr-2" href="/experiments/1">View</a>
        <a class="btn btn-primary" href="/experiments/1">Fork</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="run">
        <div class="run-id col-1">2</div>
        <a class="btn btn-primary mr-2" href="/experiments/1">View</a>
        <a class="btn btn-primary" href="/experiments/1">Fork</a>
      </div>
   </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="run">
        <div class="run-id col-1">3</div>
        <a class="btn btn-primary mr-2" href="/experiments/1">View</a>
        <a class="btn btn-primary" href="/experiments/1">Fork</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

