/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

.body-content {
  padding: 3rem 0;
  min-height: calc(100vh - 97px);
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/* custom */

.results {
  min-height: 811px;
}

.result-iframe {
  height: 811px;
}

.experiments .row {
  border: 1px solid lightgrey;
  border-radius: 7px;
  margin: 5px 0;
  padding: 8px 0;
}

.experiments .run {
  display: flex;
  align-items: center;
}